[Unit]
Description=Gunicorn daemon for Sana Academy
Requires=gunicorn.socket
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/snaacademy
EnvironmentFile=/var/www/snaacademy/.env
ExecStart=/var/www/snaacademy/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
