@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: 'IBM Plex Sans Arabic', sans-serif; }
.clip-blob {
    clip-path: polygon(0 0, 100% 0%, 100% 88%, 0 100%);
}
.hero-pattern {
    background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
    background-size: 24px 24px;
}
